/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: normal 1.5rem/1.6 'Lato', sans-serif;
    color: #4a4e69;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #22223b;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #22223b;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

button {
    cursor: pointer;
}

ol, li {
    list-style-type: none;
}

br {
    margin-bottom: 1rem;
}

.scroll-header {    
    background-color: #fff;
}

.section-header h1 {
    margin-top: 5rem;
}

/* utility class */
.flex-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.row img, .row-reverse .content {
    padding-right: 1rem;
}

.text-primary {
    text-align: left;
}

.container {
    min-width: 480px;
    margin: 0 12%;
}

.flex-column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.icons {
    margin: 2.4rem;
    width: 100%;
    text-align: center;
    -webkit-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
}

.btn-primary {
    background-color: #22223b;
    color: #fff;
    border-radius: 5px; 
    padding: 0.5rem 1rem;
}

.btn-primary a {
    color: #fff;
}

.btn-secondary {
    background-color: #fff;
    border-radius: 5px; 
    padding: 0.5rem 1rem;
}

.btn-secondary a {
    color: #22223b;
}

.my-1 {
    margin: 1rem auto;
}

.mx-1 {
    margin: 0 0.5rem;
}

/* nav-bar */
#page-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 60px;
}

.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.navigation-list_item {
    text-decoration: none;
    margin-left: 1.5rem;
    color: #4a4e69;
    position: relative;
}

.navigation-list_item:last-child {
    margin-right: 1.5rem;
}

.navigation-list_item:hover{
    cursor: pointer;
    color: #22223b;
}

.navigation-list .active{
    color: #22223b;
    font-weight: 800;
}

.back-link {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
}

.hamburger {
    display: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

/* Index CSS */
#index {  
    height: 100vh;
    position: relative;
    color: #22223b;
    background: url('../assets/image/background.jpg') no-repeat center center/cover;;
}

.profile_portrait {
    height: 400px !important;
    width: 400px !important;
    border-radius: 50%;
    padding-right: 0 !important;
    -o-object-fit: cover;
       object-fit: cover;
}

.column-1 {
    padding-left: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.profile-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 4px solid #22223b;
}

.profile-btn a {
    font-weight: 400;
    color: #22223b;
}

.profile-btn:hover {
    border: 1px solid #22223b;
    background-color: #fff;
    color: #22223b !important;
}

.btn-primary:hover {
    border: 1px solid #22223b;
    background-color: #fff;
    color: #22223b !important;
}

.btn-secondary:hover {
    border: 1px solid #22223b;
    background-color: #fff;
    color: #22223b !important;
}

a:hover {
    color: #22223b !important;
}

/* Work Page */
.project-list {
    padding: 1rem auto;
}

.proj-img {
    -o-object-fit: fill;
       object-fit: fill;
    max-height: 100%;
    max-width: 100%;
    width: 50%;
    height: 400px;  
    display: block;
    margin: auto auto;
}

.project-item {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.project-item--desc, .case--desc {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 0;
    text-align: justify;
}

.content {
    position: relative;
    height: 400px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.content p {
    margin: 1rem auto;
}

.action-btn {
    position: absolute;
    bottom: 0;
}

/* Contact Page*/
.contact-header {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-form {
    padding: 1rem;
    border-radius: 5px;
}

.contact-header h1{
    margin: 0;
}

.contact-form input {
    font-size: calc(0.8 * 1.5rem);
    padding: 8px;
    width: 100%;
    display: inline-block;
}

.contact-form textarea {
    font-size: calc(0.8 * 1.5rem);
    padding: 8px;
    width: 100%;
    display: inline-block;
}

.contact-title {
    margin: 20px;
    text-decoration: underline;
}

/* About Page*/
.download-btn {
    margin-top: 2rem !important;
}

/* Footer */
.page-footer {
    padding: 1rem;
    width: 100%;
    background-color: #e07a5f;
}

.page-footer .social-media > * {
    margin-right:  1rem;
}

.social-media a {
    color: #fff;
}

.footer__copy {
    font-size: 12px;
}

.page-footer a:hover {
    color: #4a4e69;
}

/* case page */
.title {
    text-align: left;
    font-weight: 800;
}

#case.flex-items {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
}

#case .row {
    margin-bottom: 1rem;
}

#case h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 2rem;
}

#case .row .proj-img {
    width: 33%;
}

.link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

#case .link{
    font-size: 1.2rem;
    font-weight: 400;
    color: #e07a5f;
}

.credits {
    margin-left: 2rem;
}

@media screen and (max-width: 1200px){
    .container {
        margin: 0 5%;
    }
    .action-btn {
        position: relative;
    }
    .sm-flex-dir{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .flex-items img,  #case .row .proj-img {
        height: 320px;
        width: 100%;
        padding-right: 0;
        margin-bottom: 1rem;
    }
    .download-btn {
        margin-top: 4rem !important;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: scroll;
        font-size: calc(0.8 * 1.5rem);
    }
    .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .project-item--desc {
        line-height: 1.2;
    }
    .navigation-list{
        display: none;
    }
    .main-navigation{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    }
    .navigation-list.show{
        display: block;
        text-align: start;
        border: 1px solid #4a4e69;
    }
    .project-content {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .action-btn {
        position: relative;
    }
    .container {
        margin: 0 5%;
    }
    #index {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .profile_portrait {
        height: 240px !important;
        width: 240px !important;
    }
    .column-1 {
        padding-left: 0;
    }
}
