@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #22223b; 
    --secondary-color: #fff;
    --primary-text-color: #4a4e69;
    --secondary-text-color: #e0e1dd;
    --footer-color: #e07a5f;
    --font-size: 1.5rem;
    --nav-bar-height: 60px;
}

body {
    font: normal var(--font-size)/1.6 'Lato', sans-serif;
    color: var(--primary-text-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    color: var(--primary-color);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

button {
    cursor: pointer;
}

ol, li {
    list-style-type: none;
}

br {
    margin-bottom: 1rem;
}

.scroll-header {    
    background-color: var(--secondary-color);
}

.section-header h1 {
    margin-top: 5rem;
}

/* utility class */
.flex-items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    flex: 1 0 50%;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row img, .row-reverse .content {
    padding-right: 1rem;
}

.text-primary {
    text-align: left;
}

.container {
    min-width: 480px;
    margin: 0 12%;
}

.flex-column {
    flex: 1;
}

.icons {
    margin: 2.4rem;
    width: 100%;
    text-align: center;
    transform: scale(3);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px; 
    padding: 0.5rem 1rem;
}

.btn-primary a {
    color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-radius: 5px; 
    padding: 0.5rem 1rem;
}

.btn-secondary a {
    color: var(--primary-color);
}

.my-1 {
    margin: 1rem auto;
}

.mx-1 {
    margin: 0 0.5rem;
}

/* nav-bar */
#page-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 99;
    height: var(--nav-bar-height);
}

.navigation-list {
    display: flex;
    justify-content: flex-start;
}

.navigation-list_item {
    text-decoration: none;
    margin-left: 1.5rem;
    color: var(--primary-text-color);
    position: relative;
}

.navigation-list_item:last-child {
    margin-right: 1.5rem;
}

.navigation-list_item:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.navigation-list .active{
    color: var(--primary-color);
    font-weight: 800;
}

.back-link {
    justify-content: flex-start !important;
}

.hamburger {
    display: none;
    justify-content: flex-start;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

/* Index CSS */
#index {  
    height: 100vh;
    position: relative;
    color: var(--primary-color);
    background: url('../assets/image/background.jpg') no-repeat center center/cover;;
}

.profile_portrait {
    height: 400px !important;
    width: 400px !important;
    border-radius: 50%;
    padding-right: 0 !important;
    object-fit: cover;
}

.column-1 {
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profile-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 4px solid var(--primary-color);
}

.profile-btn a {
    font-weight: 400;
    color: var(--primary-color);
}

.profile-btn:hover, .btn-primary:hover, .btn-secondary:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
}

a:hover {
    color: var(--primary-color) !important;
}

/* Work Page */
.project-list {
    padding: 1rem auto;
}

.proj-img {
    object-fit: fill;
    max-height: 100%;
    max-width: 100%;
    width: 50%;
    height: 400px;  
    display: block;
    margin: auto auto;
}

.project-item {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.project-item--desc, .case--desc {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 0;
    text-align: justify;
}

.content {
    position: relative;
    height: 400px;
    justify-content: flex-start;
}

.content p {
    margin: 1rem auto;
}

.action-btn {
    position: absolute;
    bottom: 0;
}

/* Contact Page*/
.contact-header {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.contact-form {
    padding: 1rem;
    border-radius: 5px;
}

.contact-header h1{
    margin: 0;
}

.contact-form input, .contact-form textarea {
    font-size: calc(0.8 * var(--font-size));
    padding: 8px;
    width: 100%;
    display: inline-block;
}

.contact-title {
    margin: 20px;
    text-decoration: underline;
}

/* About Page*/
.download-btn {
    margin-top: 1rem;
}

/* Footer */
.page-footer {
    padding: 1rem;
    width: 100%;
    background-color: var(--footer-color);
}

.page-footer .social-media > * {
    margin-right:  1rem;
}

.social-media a {
    color: var(--secondary-color);
}

.footer__copy {
    font-size: 12px;
}

.page-footer a:hover {
    color: var(--primary-text-color);
}

/* case page */
.title {
    text-align: left;
    font-weight: 800;
}

#case.flex-items {
    align-items: flex-start !important;
}

#case .row {
    margin-bottom: 1rem;
}

#case h2 {
    text-align: center;
    margin-top: var(--nav-bar-height);
    margin-bottom: 2rem;
}

#case .row .proj-img {
    width: 33%;
}

.link{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#case .link{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--footer-color);
}

.credits {
    margin-left: 2rem;
}

@media screen and (max-width: 1200px){
    .container {
        margin: 0 5%;
    }
    .action-btn {
        position: relative;
    }
    .sm-flex-dir{
        flex-direction: column !important;
        align-items: center;
    }
    .flex-items img,  #case .row .proj-img {
        height: 320px;
        width: 100%;
        padding-right: 0;
        margin-bottom: 1rem;
    }
    .download-btn {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: scroll;
        font-size: calc(0.8 * var(--font-size));
    }
    .hamburger {
        display: flex;
    }
    .project-item--desc {
        line-height: 1.2;
    }
    .navigation-list{
        display: none;
    }
    .main-navigation{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    .navigation-list.show{
        display: block;
        text-align: start;
        border: 1px solid var(--primary-text-color);
    }
    .project-content {
        justify-content: center;
    }
    .action-btn {
        position: relative;
    }
    .container {
        margin: 0 5%;
    }
    #index {
        flex-direction: column;
    }
    .profile_portrait {
        height: 240px !important;
        width: 240px !important;
    }
    .column-1 {
        padding-left: 0;
    }
}

